@page
@model ChurrasTrinca.Pages.Participantes.DeleteModel

@{
    ViewData["Title"] = "Remover participante";
}

<h1 class="text-center" style="margin-top: 150px; font-weight: 700;">
    Você tem certeza que deseja remover esse participante?
    <br />
    (@Html.DisplayFor(model => model.Participante.Nome))?
</h1>

<form method="post">
    <div class="text-center mt-5">
        <a class="btn btn-danger" asp-page="/Churrascos/Edit" asp-route-id="@Model.Churrasco?.Id">Não</a>
        <button class="btn btn-success" type="submit">Sim</button>
    </div>
</form>
