@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChurrasTrinca</title>
    <link rel="stylesheet" href="~/css/jquery-confirm/jquery-confirm.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/table.css" />
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <!-- HEADER -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <!-- LOGO -->
            <div class="logo">
                <h1 style="color: black;"><a asp-page="/Index">Churras Trinca</a></h1>
            </div>

            @if (SignInManager.IsSignedIn(User))
            {
                <!-- NAVBAR (USUÁRIO LOGADO) -->
                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto" asp-page="/Index">Home</a></li>
                        <li><a class="nav-link scrollto" asp-page="/Churrascos/Create">Marcar Churras</a></li>
                        <li><a class="nav-link scrollto" asp-page="/Account/Logout">Sair (@User.Identity.Name)</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
            }
            else
            {
                <!-- NAVBAR (USUÁRIO DESLOGADO) -->
                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto" asp-page="/Account/Login">Login</a></li>
                        <li><a class="nav-link scrollto" asp-page="/Account/Register">Registrar</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
            }

        </div>
    </header>

    <main role="main" class="pb-5">
        @RenderBody()
    </main>

    <footer id="footer" class="fixed-bottom">
        <div class="container my-2">
            <div class="social-links text-center text-lg-center pt-3 pt-lg-0">
                <a href="https://github.com/jvxdev" target="_blank" class="bi-github" title="Meu GitHub"><i class="bx bxl-github"></i></a>
                <a href="https://www.linkedin.com/in/jvddm/" target="_blank" class="bi-linkedin" title="Meu LinkedIn"><i class="bx bxl-linkedin"></i></a>
            </div>
        </div>
    </footer><!-- End Footer -->
    
    <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)


    <script>
        $.validator.methods.number = function (value, element) {
            var val = Globalize.parseFloat(value);
            return this.optional(element) ||
                (val);
        }

        $.validator.methods.date = function (value, element) {
            var val = Globalize.parseDate(value);
            return this.optional(element) ||
                (val);
        }

        $(function () {

            Globalize.culture('pt-BR');

            jQuery.extend(jQuery.validator.methods, {
                range: function (value, element, param) {
                    //Use the Globalization plugin to parse the value
                    var val = Globalize.parseFloat(value);
                    return this.optional(element) || (
                        val >= param[0] && val <= param[1]);
                }
            });

        });
    </script>
</body>
</html>